# Libs and stuff
/bukkit
/lib
/jar
dependency-reduced-pom.xml

# Eclipse Core
/bin

# JDT-specific (Eclipse Java Development Tools)
.classpath
.project
/.settings/

# Specific to IDEA
.idea/
exams.iml

# Maven build
/target/